@value primary_color from '../../../variables.css';
@value contact_id_width from '../../../variables.css';
@value contact_name_width from '../../../variables.css';
@value contact_email_width from '../../../variables.css';
@value contact_phone_width from '../../../variables.css';

.contact {
    border-bottom: 1px solid primary_color;
    padding: 1rem;
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    cursor: pointer;
}

.contact:hover {
    background: primary_color;
    color: white;
}

.id {
    width: contact_id_width;
}

.first-name, .last-name {
    width: contact_name_width;
}

.email {
    width: contact_email_width;
}

.phone {
    width: contact_phone_width;
}